{
  "root": true,
  "extends": [
    "@nuxt/eslint-config"
  ],
  "rules": {
    "max-len": "error",
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "vue/no-multiple-template-root": "off"
  }
}
