@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}
