@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --charlie: #f7aef8;
  --luna: #48bf84;
  --oliver: #3772ff;
  --loki: #ffe66d;
  --willow: #f0f0f0;
  --bella: #bfbfbf;
  --milo: #545454;
}

::-webkit-scrollbar {
  width: 12px;
  
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--bella);
  border: 3px solid var(--willow);
  border-radius: 15px;
}

html, body {
  background-color: var(--willow);
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
