.header {
  display: flex;
  height: var(--header-size);
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

.panel {
  list-style: none;
  display: flex;
}

.option {
  margin: 25px;
  color: var(--milo);
  transition: 0.1s linear;
}

.option:hover {
  color: black;
}

.resume {
  padding: 10px 22px;
  color: var(--oliver);
  border: 1px solid var(--oliver);
  border-radius: 10px;
  transition: 0.1s linear;
}

.resume:hover {
  color: white;
  background-color: var(--oliver);
  box-shadow: 0px 0px 20px -2px var(--oliver);
  text-decoration: none;
}
