.intro {
  display: flex;
  margin: 0 auto;
  height: calc(100vh - var(--header-size));
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}

.name h2 {
  font-weight: normal;
  font-size: 28pt;
}

.name h1 {
  font-size: 30pt;
}

.name h3 {
  font-weight: normal;
  margin-top: 45px;
  color: var(--milo);
  width: 520px;
}

.github {
  font-size: 16pt;
}
  